* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: var(--body-background);
    font-family: 'Open Sans', sans-serif;
}

@import 'theme-colors';
@import 'typography';
@import 'global';
@import '_navbar';
@import '_carousel';
@import '_icons';
