.page-layout {
    display: flex;
}

.page-wrapper {
    min-height: var(--main-container-height);
}

.sidebar {
  width: 325px;
  border-right: 1px solid #e3e9ef;
  padding: var(--padding-md);
  background: var(--main-background);
}

.view-container {
  padding: var(--padding-md);
  width: calc(100% - 325px);
  min-height: var(--main-container-height);
}
section {
    margin-top: 15px;
}
.custom-orders {
    background: #fff;
    border-radius: var(--radius-md);

    ul {
        display: flex;
        align-items: stretch; /* Default */
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    li {
        display: block;
        flex: 0 1 auto; /* Default */
        list-style-type: none;
        border-right: solid 1px red;
        width: 25%;
        height: 175px;
    }

    li:last-child {
        border: none;
    }
}
  
/* Mobile Devices - Phones/Tablets */
@media only screen and (max-width: 790px) { 
    .sidebar {
        display: none;
    }

    .view-container {
        width: 100%;
    }
}

@media only screen and (max-width: 720px) { 
    .custom-orders {
        ul {
            display: block;
        }
        li {
            border-right: solid 1px green;
            width: 100%;
        }
    }
}

.app-footer {
    border-bottom: solid 1px var(--border-color);
    background-color: var(--navbar-background);
    color: var(--text-color);
    width: 100%;
    height: var(--footer-height);
    border-top: solid 1px var(--border-color);
    line-height: var(--footer-height);
    padding-left: 20px;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.slider {
            background-color: #2196F3;
        }

        &:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked+.slider::before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            left: -9px;
        }
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
        position: absolute;
        content: "";
        height: 11px;
        width: 11px;
        left: 2px;
        bottom: 2px;
        background-color: #ffffff;
        -webkit-transition: .4s;
        transition: .4s;
    }

    &.round {
        border-radius: 15px;

        &::before {
            border-radius: var(--circle);
        }
    }
}

