@font-face {
    font-family: 'HennyPenny';
    src: url('../fonts/HennyPenny-Regular.ttf'); /* IE9 Compat Modes */
    src: url('../fonts/HennyPenny-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}